body {
  background: #f1f1f1;
  color: #333;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-size: 14px;
}

a {
  color: #333;
  text-decoration: none;
}

h1 {
  color: #dadada;
  font-size: 65px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #cacaca;
  margin: 0;
}

h2 {
  color: #909090;
}

h2.function-title {
  margin-top: -30px;
  margin-bottom: 10px;
  font-size: 32px;
  text-align: right;
}

h2.section-heading {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.signature {
  background: #fdfdfd;
  border: 1px solid #dadada;
  padding: 15px;
  display: block;
  overflow: auto;
}

.view-source {
  float: right;
  margin-top: -37px;
  margin-right: 15px;
  text-decoration: none;
  color: #1f1f1f;
  width: 20px;
  height: 20px;
  background-image: url("github.svg");
  background-repeat: no-repeat;
}

.view-source .sr-only {
  display: none;
}

.specs {
  padding-left: 15px;
  font-style: italic;
}

.specs a {
  text-decoration: none;
  color: #333;
}

.main {
  width: 40%;
  margin: 100px auto;
}

.detail-link {
  display: none;
}

.docstring pre {
  background: #fdfdfd;
  padding: 15px;
  border: 1px solid #dadada;
  overflow: auto;
}
